[Unit]
Description=TrafficAlerted Daemon
Wants=network-online.target
After=network.target network-online.target

[Service]
Type=simple
Restart=on-failure
RestartSec=5s
ExecStart=/usr/local/bin/TrafficAlerted /etc/TrafficAlerted/TrafficAlerted.conf

DynamicUser=yes
AmbientCapabilities=CAP_NET_RAW
CapabilityBoundingSet=CAP_NET_RAW
ProtectHome=yes
CPUWeight=99
#CPUQuota=85%

[Install]
WantedBy=multi-user.target